/* ------------------------------------- texto ---------------------------------------- */

h1, h2, h3, img {
    position: relative;
    z-index: 10;
    color: white;
}

#texto {
    position: relative;
    padding-top: 220px;
    transition: transform 2s ease, opacity 1s ease;
}

#texto h1 {
    font-size: 42px;
    margin-bottom: 60px;
    text-decoration: underline;
}

.contato-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 80px;
    padding: 0 40px;
}

.contato-item {
    display: flex;
    flex-direction: column;
}

#texto h2 {
    font-size: 26px;
    font-weight: 800;
    font-weight: bold;
}

.contato-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-item a {
    width: fit-content;
}

#texto h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    transition: 0.3s ease;
}

h3:hover {
    transform: scale(1.1);
}

h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
}

h3:hover::after {
    width: 100%;
    left: 0;
}

a {
    text-decoration: none;
}

/* ------------------------------------- TEMAS ---------------------------------------- */

body.ntema h3::after{
    background-color: black;
}

/* ----------------------------------RESPONSIVIDADE-------------------------------------------------- */

@media (max-width: 645px) {
    .contato-grid {
        display: grid;
        grid-template-columns: none;
        gap: 60px 100px;
        padding: 0 40px;
    }
    .esp {
        height: 100px;
        width: 100%;
    }
    #texto {
        padding-top: 150px;
    }

    #texto h2 {
        margin-top: -10px;
    }
    #texto h3 {
        padding-top: 0px;
    }

}