/* ------------------------------------- texto ---------------------------------------- */

h1, h2, h3, img {
    position: relative;
    z-index: 10;
    color: white;
}

#texto {
    position: relative;
    padding-top: 220px;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    transition: transform 2s ease, opacity 1s ease;
}

#texto h1 {
    font-size: 42px;
    margin-bottom: 60px;
    text-decoration: underline;
}

.contato-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 100px;
    padding: 0 40px;
}

.contato-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#texto h2 {
    font-size: 26px;
    font-weight: 500;
    font-weight: bold;
}

#texto h3 {
    font-size: 22px;
    font-weight: 400;
    transition: 0.3s ease;
}

h3:hover {
    transform: scale(1.1);
}

h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
}

h3:hover::after {
    width: 100%;
    left: 0;
}

a {
    text-decoration: none;
}

/* ------------------------------------- TEMAS ---------------------------------------- */

body.ntema h3::after{
    background-color: black;
}

/* ----------------------------------RESPONSIVIDADE-------------------------------------------------- */

@media (max-width: 1024px) {
    .contato-grid {
        gap: 50px 60px;
    }

    #texto h1 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {

    #texto {
        padding-top: 180px;
    }

    .contato-grid {
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
    }

    #texto h1 {
        font-size: 32px;
    }

    #texto h2 {
        font-size: 22px;
    }

    #texto h3 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    #texto {
        padding-top: 150px;
    }

    #texto h1 {
        font-size: 28px;
    }

    #texto h3 {
        word-break: break-word;
    }
}