body {
    margin: 0;
    overflow-x: hidden;
    background: #0b1220;
    text-align: center;
}
body.ativo {
    overflow: hidden;
}
#trail {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 5;
}

/* ------------------------------------- LOGO ---------------------------------------- aqui*/

.logo {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: white;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    z-index: 20;
    transition: transform 2s ease;
}

/* ------------------------------------- ICONES ---------------------------------------- */

.idioma {
    position: absolute;
    top: 35px;
    right: 180px;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20;
}

.tema {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 100px;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20;
}


/* ------------------------------------- MENU ---------------------------------------- */
.menu {
    position: absolute;
    top: 45px;
    right: 30px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 30;
    touch-action: manipulation;
}

.menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: White;
    border-radius: 4px;
    transition: 0.4s ease;
}

/* Posições iniciais */
.menu span:nth-child(1) { top: 0; }
.menu span:nth-child(2) { top: 17px; }
.menu span:nth-child(3) { bottom: 0; }

/* forma + */
.menu:hover span:nth-child(1) { top: 17px; transform: rotate(90deg); }
.menu:hover span:nth-child(2) { opacity: 0; }
.menu:hover span:nth-child(3) { top: 17px; }

/* vira X */
.menu.ativo span:nth-child(1) { top: 17px; transform: rotate(45deg); }
.menu.ativo span:nth-child(2) { opacity: 0; }
.menu.ativo span:nth-child(3) { top: 17px; transform: rotate(-45deg); }

/* ------------------------------------- OPÇOÕES MENU ---------------------------------------- */
#texto.esconder {
    transform: translateY(-200px);
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

#opmenu.aparecer #o1 { opacity: 1; transform: translateX(0); transition-delay: 1.0s;}
#opmenu.aparecer #o2 { opacity: 1; transform: translateX(0); transition-delay: 1.3s;}
#opmenu.aparecer #o3 { opacity: 1; transform: translateX(0); transition-delay: 1.6s;}
#opmenu.aparecer #o4 { opacity: 1; transform: translateX(0); transition-delay: 1.9s;}

#opmenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    pointer-events: none;
    z-index: 20;
    gap: 35px;
}

#opmenu a{
    width: fit-content;
}

#opmenu.aparecer {
    pointer-events: auto;
}

#opmenu h2 {
    margin: 0;
    opacity: 0;
    transform: translateX(40px);
    transition: transform 0.6s ease, opacity 0.6s ease;
    will-change: transform, opacity;
}

#opmenu h2 span {
    display: inline-block;
    transition: transform 0.15s ease;
}

#opmenu #o1::after,
#opmenu #o2::after,
#opmenu #o3::after,
#opmenu #o4::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}


/* ------------------------------------- CANVAS ---------------------------------------- */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

/* ------------------------------------- TEMAS ---------------------------------------- */

body.ntema{
    background: #c6e4eb;
}

body.ntema h1, body.ntema h2, body.ntema h3{
    color: black;
}

body.ntema #opmenu #o1::after,
body.ntema #opmenu #o2::after,
body.ntema #opmenu #o3::after,
body.ntema #opmenu #o4::after,
body.ntema .menu span {
    background-color: black;
}

/* ------------------------------------- HOVER ---------------------------------------- */

@media (hover: hover) {
    .idioma:hover {
      background-color: gray;
      transform: scale(1.1);
    }
    .tema:hover {
      background-color: gray;
      transform: scale(1.1);
    }

    #opmenu h2:hover span {
        transform: scale(1.1);
    }
    #opmenu #o1:hover::after,
    #opmenu #o2:hover::after,
    #opmenu #o3:hover::after,
    #opmenu #o4:hover::after {
        width: 100%;
        left: 0%;
    }
}
/* ------------------------------------- RESPONSIVIDADE ---------------------------------------- */

@media (max-width: 400px) {
    .logo {
        width: 96px;
        height: 96px;
        left: 20px;
    }
    .idioma {
        width: 48px;
        height: 48px;
        right: 140px;
    }
    .tema {
        width: 48px;
        height: 48px;
        right: 80px;
    }
    .menu{
        top: 40px;
        right: 15px;
    }
    .menu span {
        width: 80%;
        height: 5px;
    }
}
